DB_URL=postgresql://localhost:5432/beedle_deals
DB_USER=beedle
DB_PASSWORD=root
DISCORD_TOKEN=your_discord_token
APP_MODE=prod (always "prod" in container environments)
MASTER_API_KEY=your_master_api_key